<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyNhanSu.Properties.Settings.SchedulerDataConnectionString"
            connectionString="Data Source=.;Initial Catalog=SchedulerData;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyNhanSu.Properties.Settings.QuanLyNhanSuConnectionString"
            connectionString="Data Source=.;Initial Catalog=QuanLyNhanSu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>